
<mat-card class="main-container">
    <div class="container">
    
        <mat-form-field class="example-full-width" >
           
        <input matInput placeholder="Search by Title"  [(ngModel)]="publishedFilterText">
          </mat-form-field>
    </div>
    
    <mat-card-content >
        
        <table mat-table   [dataSource]="publishUsers | filteredSearchFilter:publishedFilterText"     class="mat-elevation-z8" >
            

            <!-- Position Column -->
            <ng-container matColumnDef="id" class="row">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let detail"  >{{ detail.id }}</td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>title</th>
                <td mat-cell *matCellDef="let detail">{{ detail.title }}</td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>description</th>
                <td mat-cell *matCellDef="let detail">
                    {{ detail.description }}
                </td>
            </ng-container>

            <!-- Published Column -->
            <ng-container matColumnDef="published">
                <th mat-header-cell *matHeaderCellDef>published</th>
                <td mat-cell *matCellDef="let detail">
                    {{ detail.published }}
                </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let detail">
                    <button mat-raised-button color="primary"><a [routerLink]="['..','view',detail.id]" style="text-decoration: none; color: white;">View</a></button> 
                    <button mat-raised-button color="primary"><a [routerLink]="['..','delete',detail.id]" style="text-decoration: none; color: white;">Delete</a></button> 
                    <button mat-raised-button color="primary"> <a [routerLink]="['..','edit',detail.id]" style="text-decoration: none; color: white;">Edit</a></button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </mat-card-content>
</mat-card>
