<mat-list role="list">
    <mat-list-item role="listitem">
        <button mat-flat-button class="button">
            <a
                mat-raised-button
                href="users/create"
                style="text-decoration: none;color: white;"
                >Add User</a
            >
        </button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button mat-flat-button class="button">
            <a mat-raised-button href="users/list" style="text-decoration: none;color: white;"
                >All Tasks</a
            >
        </button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button mat-flat-button class="button">
            <a
                mat-raised-button
                href="users/published"
                style="text-decoration: none;color: white;"
                >Published Tasks</a
            >
        </button>
    </mat-list-item>
</mat-list>
