.username{
    min-width: 300px;
}
.action-link{
    padding: 10px;
}

.list-users{
    margin: 20px;
}

table {
    width: 95%;
    padding-right: 30px;
    margin-left: 50px;
    
}
  
.container{
    display: flex;
    justify-content: center;
    
    }
    
    

.main-container{
    height: 100%;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(232,229,166,1) 0%, rgba(0,212,255,1) 100%);
}
::placeholder{
    color: white;
}
