.username{
    min-width: 300px;
}
.action-link{
    padding: 10px;
}

.list-users{
    margin: 20px;
}

table {
    width: 95%;
    padding-right: 30px;
    margin-left: 50px;
    
}
  
.container{
    display: flex;
    justify-content: center;
    
    }
    
    

.main-container{
    height: 100%;
    background: linear-gradient(90deg, rgba(121,125,121,1) 0%, rgba(154,156,158,1) 31%, rgba(131,130,131,1) 99%);
}
::placeholder{
    color: white;
}
.button{
     background-color: #9e349b;

}
